* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    text-align: center;
}

form {
    display: inline-block;
    padding: 1em;
    border: 1px solid #cccccc;
    border-radius: 1em;
}

p + p {
    margin-top: 1em;
}

label {
    display: inline-block;
    min-width: 90px;
    text-align: right;
}

input, textarea {
    /*font-size: 1em;*/
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999999;
}

input:focus, textarea:focus {
    outline-style: solid;
    outline-color: black;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    /*text-align: left;*/
}

button {
    margin-left: 0.5em;
}

.error-message {
    display: block;
    color: red;
    font-style: italic;
    font-size: 0.5em;
    margin-top: 0.5em;
}