* {
    font-family: 'Courier New', Courier, monospace;
}

.button {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
}

.post {
    margin-top: 20px;
    display: block;
}

textarea {
    min-width: 800px;
    min-height: 400px;
    max-width: 90%;
    max-height: 90%;
    text-wrap-mode: wrap;
    resize: none;
}

form {
    display: inline-block;
    padding: 1em;
    border: 1px solid #cccccc;
    border-radius: 1em;
}

.form {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#post-title {
    width: 50%;
    font-size: 0.5rem;
}

.error-message {
    display: block;
    color: red;
    font-style: italic;
    font-size: 0.5em;
    margin-top: 0.5em;
}